@import "~@angular/material/prebuilt-themes/indigo-pink.css";



.example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

h1.example-app-name {
    margin-left: 8px;
}
.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}
  body{
    background:url('assets/images/dust_scratches.png');
    background-repeat:repeat;
    background-attachment: fixed; 
    margin:0px !important;
    font-family: 'Roboto', sans-serif;        
}

.loadingSpinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-loadingSpinner {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    position: relative;
  }

  